@import "tailwindcss";

:root {
  --color-body-bg: #f9f1e5;
  --color-card-bg: #fdfdf8;
  --color-button-bg: #193c57;
  --color-tag-bg: #f0efee;
}

.color-button-bg {
  background-color: var(--color-button-bg);
}
